<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Update measurements</title>
</head>
<body>
       <form action="http://localhost:8000/measurements/update/" method="GET">
            <p>Id o pk del elemento: <input type="number" name="id"></p>
            <p>Value: <input type="number" name="value"></p>
            <p>Unit: <input type="text" name="unit"></p>
            <p>Place: <input type="text" name="place"></p>
            <p><input type="submit" value="Update"></p>
</form>
</body>
</html>